{% extends 'base.html.twig' %}

{% block title %}Enregistrement{% endblock %}

{% block body %}

<!-- Zone d'affichage des messages "FLASH" venant du Controller -->
{{ include('flash.html.twig') }}

    
<form class="container-fluid mt-5 w-75" method="post"> 
    <div class="card--3D-vertical">
        <h1 class="h3 mb-3 font-weight-normal">Enregistrez-vous : <small class="small-title-message">(* champs obligatoire)</small></h1>

        {{ form_start(registrationForm) }}
        {{ form_end(registrationForm) }}
        <a href="CGU">Consulter les Conditions Générales d'Utilisation</a>
        <br>

        <div class="d-flex flex-row flex-wrap justify-content-between">
            <button type="submit" class="btn btn-sm btn--blue">
                <i class="ri-record-circle-line"></i>&ensp;Créer le compte
            </button>
            {% if app.user is null %}
            <div class="d-flex flex-row flex-wrap justify-content-between align-items-center">
                Vous avez déjà un compte ?
                &ensp;
                <a class="btn btn-sm btn--secondary" href="{{ path('app_login') }}">
                    <i class="ri-login-box-line"></i>&ensp;Se connecter
                </a>
            </div>
            {% endif %}
        </div>

    </div><!-- FIN de la Carte3D -->
</form><!-- </div> FIN du Container Bootstrap -->
{% endblock %}
