<!-- DEBUT Driver Controller TEMPLATES banner -->
<section class="driverspresentation--banner" id="banner" style="background-image:url({{ asset(sImgPath ~'banner/driver.png') }});">
    <H1>LE PADDOCK</H1>
    
    <a class="btn btn--ordering" href="{{ path('claim_create') }}">
        <i class="fas fa-motorcycle"></i>&nbsp;Commander une course
    </a>
    
</section>
<!-- FIN Profile banner -->