<!-- DEBUT Driver Controller TEMPLATES banner -->
<section class="driverspresentation--banner" id="banner" style="background-image:url({{ asset(sImgPath ~'banner/pilotes-motogp-2020.png') }});">
    <H1>LE PADDOCK</H1>
    
    <a class="btn btn--ordering" href="{{ path('claim_create') }}" style="bottom:50px;">
        <i class="fas fa-motorcycle"></i>&nbsp;Commander une course
    </a>
    
    <!-- internal page menu, to navigate to ID -->
    <!-- <div id="nav--inpage">
        <a href="#">A votre service</a>
        <a href="#">Professionnalisme</a>
        <a href="#">Les équipements passager</a>
        <a href="#">Les motos</a>
    </div> -->
    
</section>
<!-- FIN Profile banner -->