{% extends 'base.html.twig' %}

{% block title %}Hello DriverController!{% endblock %}

{% block body %}

<!-- Drivers Presentation banner -->
<section id="driverspresentation--banner" style="background-image:url({{ asset(sImgPath ~'banner/pilotes-motogp-2020.png') }});">
    <H1>LE PADDOCK</H1>
    
    <a class="btn btn--ordering" href="#services">
        <i class="fas fa-motorcycle"></i>
        &nbsp;
        Commander une course
    </a>
    
    <!-- internal page menu, to navigate to ID -->
    <!-- <div id="nav--inpage">
        <a href="#section--services">A votre service</a>
        <a href="#section--pro">Professionnalisme</a>
        <a href="#section--equipments">Les équipements passager</a>
        <a href="#section--bikes">Les motos</a>
    </div> -->
    
</section>


<section class="paragraph--large" id="section--invitation">
    <p>
        Si vous êtes vous-même détenteur de la carte professionnelle de conducteur VMDTR,
        que vous êtes immatriculé au répertoire des métiers, et disposez de votre propre véhicule,
        inscrivez-vous ici afin d'être référencé et de profiter d'une plus large visibilité.
        Vous recevrez des demandes de courses par courriel, ou pourrez même être directement contacté
        par toute personne consultant cet annuaire dans le but de trouver un taxi-moto.
        <br>
        <h5> Plus nous serons de conducteurs référencés, plus la visibilité de cet annuaire et son utilisation pour nous trouver se fera...</h5>
    </p>
    <p>
        (pour vous renseigner à propos de l'immatriculation au répertoire des métiers,
        rendez-vous sur le site des 
        <a href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F23264" target="_blanck">
            services publics
        </a>
        )
    </p>
</section>


<section class="paragraph--large" id="section--presentation">
    <h2 class="title--h2" id="services--title">Les pilotes...</h2>
    <div class="card--3D-horizontal">
        <p>
            Actuellement, 
            {% if drivers|length == 0 %}
                aucun pilote ne s'est encore inscrit
            {% else %}
                {{ drivers|length }} pilotes se sont déjà inscrits
            {% endif %}
            dans cet annuaire.
        </p>

        {% if drivers|length > 0 %}
            {#{% %}#}
            <table class="table table-striped table--txtlight">
                <thead class="thead--light">
                    <tr>
                        <th>Prénom</th>
                        <th>Dépt.</th>
                        <th>Région</th>
                        <th>Moto</th>
                        <th>Nb. de courses</th>
                        <th>Appréciation</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {#{% la boucle sur les drivers %}#}
                        {#{% set oUser=getuser(oDriver.user_id) %}#}
                    <tr>
                        <th>{#{% oUser.firstname %}#}</th>
                        <th>Dépt.</th>
                        <th>Région</th>
                        <th>Moto</th>
                        <th>
                            <a href="{#{% 'mailto:' ~ oUser.email %}#}" title="Lui envoyer un courriel">
                                <i class="ri-mail-send-line"></i>
                            </a>
                            <a href="{#{% 'tel:' ~ oUser.phone %}#}" title="Lui téléphoner" class="ml-4">
                                <i class="ri-phone-line"></i>
                            </a>
                        </th>
                    </tr>
                    {#{% endfor %}#}
                </tbody>
            </table>
        {% endif %}
    </div>
</section>

{% endblock %}