{% extends 'base.html.twig' %}

{% block title %}Présentation des pilotes{% endblock %}

{% block body %}

<!-- Driver Controller banner -->
{{ include('driver/_banner.html.twig') }}

<section class="paragraph--large mt-5">

    <!-- Informations... -->
    <p>
        L'Annuaire des motos-taxis de France propose un service de mise en relation gratuit,
        et prend en charge la génération des documents contractuels jusqu'à la facture...
        <br><br>
        Si vous êtes vous-même détenteur de la carte professionnelle de conducteur VMDTR,
        que vous êtes immatriculé au répertoire des métiers, et disposez d'un véhicule elligible à la pratique du métier,
        enregistrez-vous dans cet annuaire afin d'être référencé et de profiter d'une plus large visibilité.
        Vous recevrez des demandes de courses par courriel, ou pourrez même être directement contacté
        par toute personne consultant cet annuaire dans le but de trouver un moto-taxi.
        <br>
        <h5> Plus nous serons de conducteurs référencés, plus la visibilité de cet annuaire et son utilisation seront importantes...</h5>
    </p>
    <p>
        (pour vous renseigner à propos de l'immatriculation au répertoire des métiers,
        rendez-vous sur le site des 
        <a href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F23264" target="_blanck">
            services publics
        </a>
        )
    </p>


{% if drivers is defined and drivers|length > 0 %}

    <!-- Récupère les OBJETS issus de JSON pour les Regions et Depts -->
    {% set regions=getregions() %}
    {% set depts=getdepartments() %}

    <!-- Boucle 1 : boucle d'analyse pour comptage et détermination du comportement WRAP -->
    {% set counter=0 %}
    {% for oDriver in drivers %}
        {% set oUser=oDriver.user %}
        {% set oCompany=oDriver.company %}
        {% set oDept=getdepartmentbycode(oCompany.zip|slice(0,2)) %}
        {# --- #}
        {% if oCompany.isconfirmed 
            and (region is null or region.code==oDept.region_code)
            and (dept is null or dept is not defined or dept.code==oCompany.zip|slice(0,2))
        %}
            {% set counter = counter + 1 %}
        {% endif %}
    {% endfor %}

    <!-- ##### v DEBUT BOUTON FILTRAGE PAR REGION/DEPARTEMENT v ##### -->
    <!-- -------  (méthode "Submit" PHP, pas Javascript ...)  ------- -->
    <form class="d-flex flex-row mt-4 mb-4" method="post">
        <div class="d-flex flex-row align-items-center">
            <h2 class="title--h2">Les pilotes...</h2>
            &emsp;
            <!-- Boutons sélection filtre Region/Dept. -->
            {{ include('geography/_filterbuttons_php.html.twig', {regions: regions, depts: depts}) }}
        </div>
    </form>
    <!-- ##### ^ FIN BOUTON FILTRAGE PAR REGION/DEPARTEMENT ^ ##### -->

    {% if counter > 0 %}
        <div class="d-flex flex-row flex-wrap">
        <!-- Boucle 2 : boucle "active" -->
        {% for oDriver in drivers %}
            {% set oUser=oDriver.user %}
            {% set oCompany=oDriver.company %}
            {% set oDept=getdepartmentbycode(oCompany.zip|slice(0,2)) %}
            {% set oRegion=getregionbycode(oDept.region_code) %}
            {% if oCompany.isconfirmed 
                and (region is null or region.code==oDept.region_code)
                and (dept is null or dept is not defined or dept.code==oCompany.zip|slice(0,2))
            %}
            
            <!-- Carte pilote -->
            {{ include('driver/_card_full.html.twig', {obUser: oUser, obCompany: oCompany, obRegion: oRegion}) }}
            
            {% endif %}
        {% endfor %}
        </div>
    {% else %}
        <h5>Aucun pilote référencé ET "vérifié" pour l'heure dans ce département et/ou cette région...</h5>
    {% endif %}

{% endif %}
</section>

{% endblock %}