<!-- FINALEMENT N'UTILISE PAS TOUT, GARDE SI S'AVERAIT UTILE... -->
{#<!-- <section id="regions_json" hidden>{{ JSgetregions() }}</section> -->#}
{#<!-- <section id="dpts_json" hidden>{{ JSgetdpts() }}</section> -->#}
<section id="cities_json" hidden>{{ JSgetcities() }}</section>