<!-- DEBUT Driver Controller TEMPLATES banner -->
<section id="driverspresentation--banner" style="background-image:url({{ asset(sImgPath ~'banner/mike-hailwood.jpg') }});">
    <H1>ADMINISTRATION</H1>

    <!-- internal page menu, to navigate to ID -->
    <div id="nav--inpage">
        <a class="btn nav--inpage-btn-bgb" href="{{ path('flatrate_read') }}">Les tarifs</a>
        <a class="btn nav--inpage-btn-bgb" href="#section--users">Les utilisateurs</a>
        <a class="btn nav--inpage-btn-bgb" href="#section--customers">Les clients</a>
        <a class="btn nav--inpage-btn-bgb" href="#section--drivers">Les pilotes</a>
    </div>
    
</section>
<!-- FIN Profile banner -->