
{% extends 'base.html.twig' %}

{% block title %}Bienvenue Administrateur !{% endblock %}

{% block body %}

<!-- Admin Controller banner -->
{{ include('admin/_banner.html.twig') }}
<br>
<h1>Reste à créer (ou pas...)</h1>



{% endblock %}