<!-- DEBUT Homepage banner -->
<section class="banner" id="homepage--banner" style="background-image:url({{ asset(sImgPath ~'banner/homepage.jpg') }});">
    <H1>L'ANNUAIRE DES MOTOS-TAXIS DE FRANCE</H1>
    <a class="btn btn--ordering" href="{{ path('claim_create') }}">
        <i class="fas fa-motorcycle"></i>&nbsp;Commander une course
    </a>
</section>

<!-- Menu de navigation 'interne' -->
<div class="navbar navbar-expand-lg navbar-light bg-light w-100" id="nav--inpage">
    <!-- DEBUT bouton "Burger" -->
    <button class="navbar-toggler" type="button" title="BurgerButton"
        data-toggle="collapse" data-target="#navbar-collapse-inpage"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- FIN bouton "Burger" -->
    <div class="collapse navbar-collapse nav--inpage" id="navbar-collapse-inpage">
        <!-- Menus 'permanents' -->
        <ul class="navbar-nav">
            <a class="btn nav--btn--white" href="#section--services">A votre service</a>
            <a class="btn nav--btn--white" href="#section--pro">Professionnalisme</a>
            <a class="btn nav--btn--white" href="#section--equipments">Les équipements passager</a>
            <a class="btn nav--btn--white" href="#section--bikes">Les motos</a>
            <a class="btn nav--btn--white" href="#section--luggages">Les bagages</a>
            <a class="btn nav--btn--white" href="#section--reviews">L'avis des utilisateurs</a>
            <!--  -->
            <a class="nav-item nav--btn--blue" href="{{ path('homepage_manual') }}">Comment ça marche ?</a>
        </ul>
    </div>
</div>

<!-- Zone d'affichage des messages "FLASH" venant du Controller -->
{{ include('_flash.html.twig') }}