<!-- DEBUT Homepage banner -->
<section class="banner" id="homepage--banner" style="background-image:url({{ asset(sImgPath ~'banner/homepage.jpg') }});">
    <H1>L'ANNUAIRE DES MOTOS-TAXIS DE FRANCE</H1>
    <a class="btn btn--ordering" href="{{ path('claim_create') }}">
        <i class="fas fa-motorcycle"></i>&nbsp;Commander une course
    </a>
</section>


<!-- Zone d'affichage des messages "FLASH" venant du Controller -->
{{ include('_flash.html.twig') }}