.test{
    height: 100%;
    border:2px solid yellow;
}
.bor1{border:1px solid red;}
.bor2{border:1px solid yellow;}
.bor3{border:1px solid green;}
.bor4{border:1px solid cyan;}
.bor5{border:1px solid blue;}
.bor6{border:1px solid magenta;}
.bor7{border:1px solid black;}


@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900display=swap%27);
*{
    font-family: "Poppins", sans-serif;
    /* border:1px solid red; */
}

body{
    width:100vw;
    /**/
    position:relative;
    margin:0;
    padding:0;
    /**/
    display:flex;
    flex-direction:column;
    justify-content:center;
}
/* Accentue les textes des lignes de titres des Table */
th{
    font-size:1.2em;
    font-weight:bolder;
}


/**
 * -------------------------------------------------------------------------
 * Astuce pour renommer le bouton de l'élément Bootstrap FileType,
 * à la condition que dans FormType, soit précisé : 'attr'=>['lang'=>"fr"],
 * -------------------------------------------------------------------------
*/
.custom-file-label::after{
    content: "Parcourir...";
}
.custom-file-label::before{
    content: ".custom-file-label::before{content:'Texte à afficher';}";
}


/**
 * ------------------------------
 * Surcharge des Class Bootstrap
 * ------------------------------
*/
/*  -- Permet de définir à la Class associée au SELECT une     --
    -- hauteur Max, au-delà de laquelle apparaît le Scroll...  -- */
.dropdown-menu {         
    max-height: 300px;
    overflow-y: auto;
}
/* */
.alert{
    font-weight:bold;
    border:2px solid black;
    border-radius:5em;
    box-shadow:4px 4px 6px grey;
}


/**
 * ---------------------------------------------------------------
 * Class utilisées dans l'ensemble du site (et/ou Base.html.twig)
 * ---------------------------------------------------------------
*/
/*---- Class définies mais uniquement pour traitement Javascript ----
-
#avatarpicture
#vmdtrpicture
-
.btn--hidemodal{}       
.btn--showmodal{}
#btn--modal--closing{}  
#blk--2hide-ifmodal{}
    V gestion de la sélection de la zone géographique V
#dropdownMenuOffset--Region{}
#dropdownMenuOffset--Department{}
    V gestion des Table multi-onglets V
.block--tabtype{}
.row--tab{}
    V Modale de selection d'une entreprise T3P existante V
#blk--company2create{}
--------
#cities_json{}
    V INUTILISE ACTUELLEMENT, GARDER AU CAS OU... V
    ===============================================
#regions_json{}
#dpts_json{}
---------------------------------------------------------------------
*/
/* -- DIVERS -- */
#section--header{
    width:100%;
    /* border:2px solid red; */
    /* background-color: white; */
    /**/
    display:flex;
    flex-direction:column;
    padding-right:0.75em;
    align-items:center;
    z-index:99;
    /**/
    background: linear-gradient(to top right,blue, 8%, white, 90%, red);
    box-shadow: 0px 4px 8px black;
}
.banner{
    width:100%;
    box-shadow: 0px 6px 8px grey;
}
.btn--circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow:2px 2px 4px black;
}
.btn--action{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color:lightgrey;
    box-shadow:2px 2px 4px black;
}
.btn--circle:hover,.btn--action:hover{
    cursor:pointer;
    font-weight: bold;
    text-justify: inter-cluster;
    text-align: center;
    box-shadow:inset 3px 3px 6px black;
}
#uptotop1{
    position:fixed;
    height: 40px;
    width: 40px;
    bottom:2em;
    right:2em;
    /**/
    color:blue;
    font-size:1.5em;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 2px 2px 0.25em red;
}
#uptotop2{
    position:fixed;
    height: 40px;
    width: 40px;
    bottom:2em;
    left:2em;
    /**/
    color:blue;
    font-size:1.5em;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 2px 2px 0.25em red;
}
.modal--closing{
    position:fixed;
    right:2.5em;
    top:1.5em;
    z-index:999;
    /**/
    background-color: rgba(80, 80, 80, .7);
    box-shadow: 2px 2px 0.25em black;
    /**/
    color:white;
    font-weight: bold;
    /* text-justify: inter-cluster; */
    text-align: center;
}
.card--closing{
    position:absolute;
    right:1em;
    top:1em;
    z-index:999;
    /**/
    background-color: rgba(80, 80, 80, .7);
    box-shadow: 2px 2px 0.25em black;
    /**/
    color:white;
    font-weight: bold;
    /* text-justify: inter-cluster; */
    text-align: center;
}
.disabledelements{
    pointer-events:none;
    opacity:0.4;
}
.small-title-message{
    color:red;
    font-size:0.35em;
}
.form-error-message{
    color:red;
}
/* . Création/Edition compte Driver => Modal des entreprises existantes . */
#blk--companies2choice{
    display:none;
}
#btn--associate-company{
    pointer-events:none;
    opacity:0.2;
}
/* -- MENUS DE NAVIGATION -- */
.container--nav{
    /* border:3px solid yellow; */
    /**/
    width:100%;
}
#nav--brand{
    /* border:3px solid green; */
    /**/
    display:flex;
    flex-direction: row;
}
.nav--logo{
    width:60px;
}
.nav--words{
    /* border:3px solid blue; */
    /**/
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    /**/
    /* margin-left:15%; */
    align-items:center;
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
}
.nav--menu{
    display:flex;
    flex-direction:row;
    padding-right:1em;
    /**/
    /* align-items: center; */
    justify-content: flex-end;
}
.nav-item{
    /* font-size:.75em; */
    color:black;
    font-weight: bold;
}
/* -- BANNIERES --
/* - Bouton de demande de course - */
.btn--ordering{
    /**/
    position: absolute;
    top:300px;
    /**/
    color:white;
    font-weight: bold;
    font-size: 1.5em;
    background-color: rgba(255, 0, 0, 0.85);
    box-shadow: 2px 2px 0.25em blue;
    border-radius: 50px;
}
.btn--ordering:hover{
    color:white;
    background-color: rgba(255, 0, 0, 1);
    box-shadow:inset 3px 3px 8px black;
}
#app--footer{
    display:flex;
    flex:row;
    height:75px;
    width:100%;
    font-weight:bolder;
    background-color:rgb(92, 89, 89);
    color:white;
    justify-content: center;
    align-items:center;
}
/* - Menus secondaires... - */
.nav--inpage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
}
#nav--inpage{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    /**/
    justify-content:center;
    align-items:center;
    /**/
    box-shadow:0px 6px 8px grey;
}
/* -- POUR LES FORMULAIRES -- */
.required::after{
    content:'   *';
    color:red;
}
.btn--red{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    width:fit-content;
    height: fit-content;
    /**/
    color:white;
    /* font-weight: bold; */
    background-color: rgba(255, 0, 0, 0.55);
    box-shadow: 2px 2px 0.25em blue;
    border-radius: 10px;
}
.btn--green{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    width:fit-content;
    height: fit-content;
    /**/
    color:white;
    /* font-weight: bold; */
    background-color: rgba(115, 175, 50, 0.70);
    box-shadow: 2px 2px 0.25em rgb(20, 120, 0);
    border-radius: 10px;
}
/* -- CONTENEURS & TABLEAUX -- */
.paragraph--large{
    margin:2.5em;
}
.card--3D-horizontal{
    /* border:1px solid black; */
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    overflow:hidden;
    text-overflow:ellipsis;
    flex-shrink:2;
    /**/
    justify-content:space-between;
    align-items:center;
    /**/
    padding:20px;
    box-shadow:inset 
    0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 1px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    border-radius:3px;
    margin:1em;
}
.card--3D-vertical{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    /**/
    text-overflow:ellipsis;
    flex-shrink:2;
    /**/
    margin:0.5em;
    padding:0.5em;
    box-shadow:inset 
    0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 1px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    border-radius:3px;
    /**/
    /* /!\ Nécessaire uniquement pour les cartes de pilote */
    /* padding-bottom:3em; */
}
.card--head{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    /**/
    padding:1em;
}
.row--stars{
    display:flex;
    flex-direction:row;
    justify-content:start;
    /**/
    height:10px;
    margin-bottom:1em;
}
.card--horizontal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /**/
    justify-self: center;
    align-self: center;
}
.card--vertical{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /**/
    justify-self: center;
    align-self: center;
}
.block--datas-horizontal{
    border:1px solid black;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    /**/
    padding:10px;
    /**/
    height: 95%;
    justify-content:space-between;
}
.block--datas-vertical{
    border:1px solid black;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    /**/
    padding:10px;
}
.btns--row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top:1em;
    margin-bottom:1em;
}
/* - Les tableaux - */
.thead--dark{
    background-color: black;
    color:white;
}
.thead--light{
    background-color:white;
}
/* . class liées à la gestion de tableaux multi-onglets en Javascript . */
.row--tabtype{
    display: flex;
    flex-direction: row;
}
.btn--tabtype{
    padding-left: 1em;
    padding-right: 1em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /**/
    border:0.25px solid grey;
    border-bottom:0;
    box-shadow: 0 0 0 0, 0 -4px 4px 0 rgb(140, 140, 140);
}
.btn--tabtype:hover{
    font-weight: bold;
    cursor:pointer;
}
/* - Liées à l'utilisation de Modals - */
.modal--big-css{
    justify-self: center;
    align-self: center;
    /**/
    display: flex;
    flex-direction: column;
    align-items: center;
    /**/
    background:whitesmoke;
    border-radius:10px;
    /**/
    width:75vw;
    /* height:75vh; */
    /* width:97vw; */
    /* height:98vh; */
    position: center;
    /* position: fixed; */
    /* left:1vw; */
    /* left:2vw; */
    /* bottom:1vh; */
    /* bottom:11vh; */
    /**/
    filter: drop-shadow(0px 2px 5px black);
    box-shadow: inset 
    0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 1px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    /**/
    overflow: auto;
    /* padding: 5%; */
    /* padding-top: 10%; */
    /* padding-top: 5%; */
    z-index: 998;
}
/* -- TEXTES -- */
.title--h2{
    font-weight:bold;
    font-style:oblique;
    padding-left:2em;
}
/* -- LES IMAGES -- */
.img--profile{
    border:2px solid black;
    height:100px;
    width:90px;
}
.img--boolean{
    height:20px;
}
/* -- BOUTONS D'ACTION (CRUD et autres formulaires) -- */
.btn--secondary{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    width:fit-content;
    height: fit-content;
    /**/
    color:white;
    /* font-weight: bold; */
    /* text-align: center; */
    /* text-justify: distribute; */
    /**/
    background-color: rgba(80, 80, 80, .7);
    box-shadow: 2px 2px 0.25em black;
    border-radius: 10px;
}
.btn--blue{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    width:fit-content;
    height: fit-content;
    /**/
    color:white;
    /* font-weight: bold; */
    /* text-align: center; */
    /* text-justify: distribute; */
    /**/
    background-color: rgba(0, 89, 255, 0.65);
    box-shadow: 2px 2px 0.25em red;
    border-radius: 10px;
}


/**
 * ---------------------------------------
 * Class utilisées dans la page d'Accueil
 * ---------------------------------------
*/
/*---- class définies mais uniquement pour navigation "interne" à la page (paragraphes) ----
#section--services{}
#section--advices{}
#section--pro{}
#section--equipments{}
#section--bikes{}
#section--luggages{}
*/
/* -- BANNIERES -- */
#homepage--banner{
    position: relative;
    /**/
    display: flex;
    flex-direction: column;
    /**/
    /* background-image:url('../images/banner/homepage.jpg') ; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /**/
    min-height: 400px;
    /**/
    justify-content: center;
    align-items: center;
}
#homepage--banner>h1{
    color:white;
    font-weight: bolder;
    text-shadow: 5px 5px 0.25em blue;
    justify-self: center;
}
/* - Menus secondaires... - */
.nav--btn--white{
    margin-bottom:0.75em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.75em;
    font-weight: bold;
    /**/
    color:blue;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 2px 2px 0.25em red;
    /**/
    border-radius: 10px;
}
.nav--btn--white:hover{
    color:blue;
    background-color: rgba(255, 255, 255, 1);
    box-shadow:inset 3px 3px 6px black;
}
/* -- CONTENEURS -- */
.card--inset{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    /**/
    padding: 1em;
    justify-content:space-around;
    box-shadow:inset 3px 3px 8px grey;
    border-radius: 5px;
}
.card--text{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    /**/
    padding:0.5em;
    /* padding-top: 2em; */
    /**/
    justify-content: left;
    text-align: left;
}
/* -- LES IMAGES -- */
.card--imgsquare{
    width:200px;
    height:200px;
    margin:1em;
    /**/
    box-shadow: 2px 2px 2px 2px 10px black;
    /**/
    justify-self: center;
    align-self: center;
}
.card--imgrectangular{
    width:300px;
    height:200px;
    margin:1em;
    /**/
    box-shadow: 2px 2px 2px 2px 10px black;
    /**/
    justify-self: center;
    align-self: center;
}
.img--H50{
    height:50px;
}


/**
 * ------------------------------------------------------
 * Class utilisées dans la page Présentation des Pilotes
 * ------------------------------------------------------
*/
/*---- class définies mais uniquement pour ... ----

*/
/* -- BANNIERES -- */
#driverspresentation--banner{
    position: relative;
    /**/
    display: flex;
    flex-direction: column;
    /**/
    /* background-image:url('../images/banner/driver.png') ; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /**/
    min-height: 400px;
    /**/
    justify-content: center;
    align-items: center;
}
#driverspresentation--banner>h1{
    color:white;
    font-weight: bolder;
    text-shadow: 5px 5px 0.25em red;
    justify-self: center;
}
/* -- CONTENEURS -- */
/*  - footer de la carte 'Pilote' - */
.card--footer-horizontal{
    color:white;
    background-color: rgb(92, 89, 89);
    /* background-color:white; */
    /* background-color:whitesmoke; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /**/
    margin-left: -0.5em;
    margin-right: -0.5em;
    margin-bottom: -0.5em;
    /**/
    position:absolute;
    bottom:0.5em;
    /* left:-0.1em; */
    /**/
    width:100%;
    height:3em;
    justify-content:center;
    align-items:center;
    /**/
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
.card--footer-horizontal>a{
    color:black;
}
/* -- IMAGES -- */
.card--imground-200{
    width:200px;
    height:200px;
    border-radius: 50%;
    margin:1em;
    /**/
    box-shadow: 2px 2px 2px 2px 10px black;
    /**/
    justify-self: center;
    align-self: center;
}


/**
 * -----------------------------------------------------
 * Class utilisées dans la page Présentation des Tarifs
 * -----------------------------------------------------
*/
/*---- class définies mais uniquement pour ... ----

*/
/* -- BANNIERES -- */
#flatrate--banner{
    position: relative;
    /**/
    display: flex;
    flex-direction: column;
    /**/
    /* background-image:url('../images/banner/flatrate.jpg') ; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /**/
    min-height: 250px;
    /**/
    justify-content: center;
    align-items: center;
}
#flatrate--banner>h1{
    color:white;
    font-weight: bolder;
    text-shadow: 5px 5px 0.25em red;
    justify-self: center;
}


/**
 * ------------------------------------------------------------------------
 * Class utilisées dans les pages "Tableau de bord" (User/Customer/Driver)
 * ------------------------------------------------------------------------
*/
/*---- class définies mais uniquement pour ... ----

*/
/* -- BANNIERES -- */
#profile--banner{
    position: relative;
    /**/
    display: flex;
    flex-direction: column;
    /**/
    /* background-image:url('../images/banner/profile.png') ; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /**/
    min-height: 400px;
    /**/
    justify-content: center;
    align-items: center;
}
#profile--banner>h1{
    color:blue;
    font-weight: bolder;
    text-shadow: 5px 5px 0.25em red;
    justify-self: center;
}
/* - Menus secondaires... - */
.nav--btn--blue{
    margin-bottom:0.75em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.75em;
    font-weight: bold;
    /**/
    color:white;
    background-color: rgba(0, 89, 255, 0.55);
    box-shadow: 2px 2px 0.25em red;
    /**/
    border-radius: 10px;
}
.nav--btn--blue:hover{
    color:white;
    background-color: rgba(0, 89, 255, 1);
    box-shadow:inset 3px 3px 6px black;
}
.nav--inpage-btn-important{
    margin-bottom:0.75em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.75em;
    font-weight: bold;
    /**/
    color:white;
    background-color: rgba(255, 0, 0, 0.55);
    box-shadow: 2px 2px 0.25em blue;
    /**/
    border-radius: 10px;
}
.nav--inpage-btn-important:hover{
    color:white;
    background-color: rgba(255, 0, 0, 0.75);
    box-shadow:inset 3px 3px 6px black;
}
/* -- CONTENEURS -- */
.card--profile{
    display: flex;
    flex-direction: column;
    align-items:center;
    /* justify-content: center; */
}
/* -- IMAGES -- */
.imgbtn--profile{
    border:2px solid black;
    height:100px;
    width:90px;
}
.imgbtn--vmdtr{
    border:2px solid black;
    width:100%;
}
.imgbtn--profile:hover,.imgbtn--vmdtr:hover{
    text-justify: inter-cluster;
    text-align: center;
    box-shadow:inset 3px 3px 8px black;
}


/**
 * -------------------------------------------------------------------------
 * Class utilisées dans les pages "Programmer une course" (Claim et Tender)
 * -------------------------------------------------------------------------
*/
/*---- Class définies mais uniquement pour traitement Javascript ----
#blk--FlatrateToggles   => abandonnée
#btn--expand{}          => abandonnée
#btn--collapse{}        => abandonnée
.btn--filtre-region     => abandonnée
.btn--filtre-dept       => abandonnée
.row--flatrate          => abandonnée
#head--flatrate         => abandonnée
#foot--flatrate         => abandonnée
.rb--flatrate
---------------------------------------------------------------------
*/
/* -- BANNIERES -- */
#claim--banner{
    position: relative;
    /**/
    display: flex;
    flex-direction: column;
    /**/
    /* background-image:url('../images/banner/claim.jpg') ; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /**/
    min-height: 400px;
    /**/
    justify-content: center;
    align-items: center;
}
#claim--banner>h1{
    color:white;
    font-weight: bolder;
    text-shadow: 5px 5px 0.25em blue;
    justify-self: center;
}
/* -- CONTENEURS -- */
.block--date{
    /* border:2px solid red; */
    display:flex;
    flex-direction:row;
}
/* -- IMAGES -- */
.imgbtn--plus-minus{
    height: 17px;
    border-radius: 50%;
    margin-left: 2px;
    margin-bottom: 5px;
}
/* -- "BLOCK" DES FORFAITS -- */
#tbl--flatrates{
    align-items:center;
    justify-content:center;
    width:100%;
}


/**
 * -------------------------------------------------------
 * Class utilisées sur la page Admin "Actions en attente"
 * -------------------------------------------------------
*/
/* -- BANNIERES -- */
#admin--banner{
    position: relative;
    /**/
    display: flex;
    flex-direction: column;
    /**/
    /* background-image:url('../images/banner/admin.jpg') ; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /**/
    min-height: 400px;
    /**/
    justify-content: center;
    align-items: center;
}
#admin--banner>h1{
    color:white;
    font-weight: bolder;
    text-shadow: 5px 5px 0.25em red;
    justify-self: center;
}
/* -- BOUTONS -- */
.btn--orange{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    width:fit-content;
    height: fit-content;
    /**/
    color:white;
    font-weight: bold;
    /* text-align: center; */
    /* text-justify: distribute; */
    /**/
    background-color: orange;
    box-shadow: 2px 2px 0.25em black;
    border-radius: 10px;
}
.btn--secondary:hover,.btn--blue:hover,.btn--red:hover,.btn--green:hover,.modal--closing:hover,.btn--orange:hover{
    color:white;
    /* font-weight: bold; */
    box-shadow:inset 3px 3px 8px black;/*rgb(20, 120, 0);*/
}


/**
 * ------------------------------------------------------------
 * Class utilisées sur la page Admin "Raisons sociales et TVA"
 * ------------------------------------------------------------
*/
/* -- BOUTONS -- */
#btn--associate--socialreason-tva{
    pointer-events:none;
    opacity:0.2;
}


/**
 * -----------------------------------
 * LES REQUETES MEDIA => RESPONSIVE !
 * -----------------------------------
*/
@media screen and (max-width: 990px){
    .card--3D-horizontal{
        justify-content: center;
    }
    .nav--menu{
        justify-content: flex-start;
    }
    /* #nav--inpage{
        justify-content: flex-end;
    } */
}
@media screen and (max-width: 760px){
    /* #nav--inpage{
        flex-direction:column;
    } */
    #banner>h1{
        /* visibility:hidden; */
        position:absolute;
        top:0px;
    }
    /* .btn--ordering{
        / * position:absolute; * /
        top:50px;
    } */
}
@media screen and (max-width: 700px){
    .block--date{
        flex-direction:column;
    }
}
@media screen and (max-width: 650px){
    .block--datas-horizontal{
        border:none;
        margin:0;
        padding:0;
    }
}
@media screen and (max-width: 600px){
    .card--3D-vertical{
    /* .block--datas-vertical,.block--datas-horizontal,.card--3D-vertical{ */
        width:100%;
        /**/
        border:none;
        box-shadow:none;
    }
}