@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900display=swap%27);
*{
    font-family: "Poppins", sans-serif;
}

/**
 * Astuce pour renommer le bouton de l'élément Bootstrap FileType,
 * à la condition que dans FormType, soit précisé : 'attr'=>['lang'=>"fr"],
*/
.custom-file-label::after{
    content: "Parcourir...";
}
.custom-file-label::before{
    content: ".custom-file-label::before{content:'Texte à afficher';}";
}

/**
 *
*/
.nav--inpage-btn-bgb:hover{
    background-color: rgba(0, 89, 255, 0.75);
    box-shadow:inset 3px 3px 6px black;
}
.nav--inpage-btn-bgw:hover{
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow:inset 3px 3px 6px black;
}
.btn-secondary{
    border-radius: 5px;
}
.btn-secondary:hover,.img--profile:hover{
    box-shadow:inset 3px 3px 6px black;
}

/**
 *   Base TWIG file stylesheet
*/
body{
    background-color: lightgray;
    /**/
    position: relative;
    margin:0;
    padding:0;
    /**/
}
/* i{
    color:black;
} */
/* i:hover{
    color:rgb(55, 156, 55);
    cursor:pointer;
} */
/* */
#header--header{
    /* border:2px solid red; */
    /* background-color: white; */
    /**/
    display:flex;
    flex-direction: column;
    align-items: center;
    z-index:99;
    /**/
    background: linear-gradient(to top right,blue, 8%, white, 90%, red);
    box-shadow: 1px 5px 10px white;
}
.container--nav{
    /* border:3px solid yellow; */
    /**/
    width:100%;
}
/* */
#nav--brand{
    /* border:3px solid green; */
    /**/
    display:flex;
    flex-direction: row;
}
.nav--logo{
    /* background-color:white; */
    margin:10px;
    min-width:110px;
    max-height:75px;
}
.nav--words{
    /* border:3px solid blue; */
    /**/
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    /**/
    margin-left:15%;
    align-items:center;
    justify-content: space-evenly;
}
/* */
.nav--bar{
    /* border:3px solid magenta; */
    /**/
    display: flex;
    flex-direction: row;
}
.navbar-toggler{
    border:5px solid black;
}
/* */
.nav--menu{
    display:flex;
    flex-direction: row;
    /**/
    justify-content: flex-end;
}
.nav--menu>ul>li{
    margin-top:2.5px;
    margin-right:10px;
    margin-left:5px;
    /**/
    font-weight: bold;
}
/* *** */
@media screen and (max-width: 991px)
{
    .nav--menu{
        justify-content: flex-start;
    }
}



/**
 *   Homepage TWIG file stylesheet
 */
#homepage--banner{
    position: relative;
    /**/
    display: flex;
    flex-direction: column;
    /**/
    /* background-image:url('../images/banner/honda_gl1800_2018_deux_models-750x410.jpg') ; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /**/
    min-height: 400px;
    /**/
    justify-content: center;
    align-items: center;
}
#homepage--banner>h1{
    color:white;
    font-weight: bolder;
    text-shadow: 5px 5px 0.25em blue;
    justify-self: center;
}
/* */
#nav--inpage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /**/
    position: absolute;
    bottom:0px;
}
.nav--inpage-btn-bgw{
    margin-bottom:0.75em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.75em;
    font-weight: bold;
    /**/
    color:blue;
    background-color: rgba(255, 255, 255, 0.55);
    box-shadow: 2px 2px 0.25em red;
    /**/
    border-radius: 10px;
}
.nav--inpage-btn-bgb{
    margin-bottom:0.75em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.75em;
    font-weight: bold;
    /**/
    color:white;
    background-color: rgba(0, 89, 255, 0.55);
    box-shadow: 2px 2px 0.25em red;
    /**/
    border-radius: 10px;
}
.nav--inpage-btn-important{
    margin-bottom:0.75em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.75em;
    font-weight: bold;
    /**/
    color:white;
    background-color: rgba(255, 0, 0, 0.55);
    box-shadow: 2px 2px 0.25em blue;
    /**/
    border-radius: 10px;
}
.nav--inpage-btn-important:hover{
    color:white;
    background-color: rgba(255, 0, 0, 0.75);
    box-shadow:inset 3px 3px 6px black;
}
/**/


/**
* register Driver
*/
#blk--companies2choice{
    display:none;
}
#btn--associate-company{
    pointer-events:none;
    opacity:0.2;
}










/**
 *   ALL pages TWIG files stylesheet
 *   shared elements control
*/
.required::after{
    content:'   *';
    color:red;
}
/* */
.btn--ordering{
    /**/
    position: absolute;
    bottom:100px;
    /**/
    color:white;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.55);
    box-shadow: 2px 2px 0.25em blue;
    /* background-color: rgba(0, 89, 255, 0.65);
    box-shadow: 2px 2px 0.25em red; */
    border-radius: 10px;
}
.btn--ordering:hover{
    color:white;
    background-color: rgba(255, 0, 0, 1);
    box-shadow:inset 3px 3px 8px black;
}
.btn--blue{
    display: flex;
    align-items: center;
    width:fit-content;
    /**/
    color:white;
    font-weight: bold;
    /* text-align: center;
    text-justify: distribute; */
    /**/
    background-color: rgba(0, 89, 255, 0.65);
    box-shadow: 2px 2px 0.25em red;
    border-radius: 10px;
}
.btn--blue:hover{
    box-shadow:inset 3px 3px 8px black;
}
/* .btn--red{
    display: flex;
    align-items: center;
    width:fit-content;
    color:white;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.75);
    box-shadow: 2px 2px 0.25em blue;
    border-radius: 10px;
} */
/* */
.paragraph--large{
    margin:2.5em;
}
.title--h2{
    font-weight:bold;
    font-style:oblique;
    padding-left:2em;
}
/* */
.card--3D-horizontal{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    overflow:hidden;
    text-overflow:ellipsis;
    flex-shrink:2;
    /**/
    justify-content:space-between;
    align-items:center;
    /**/
    padding:20px;
    box-shadow:inset 
    0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 1px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    border-radius:3px;
    margin:1em;
}
.card--3D-vertical{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    /**/
    overflow:hidden;
    text-overflow:ellipsis;
    flex-shrink:2;
    /* */
    padding:20px;
    box-shadow:inset 
    0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 1px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    border-radius:3px;
    margin:1em;
}
/**
 *
 */
.card--inset{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    /**/
    justify-content:center;
    box-shadow:inset 3px 3px 8px grey;
    border-radius: 5px;
}
/* .card--3D-horizontal:hover,.card--3D-vertical:hover{ */
    /* border:3px solid black; */
/* } */
/* */
/* .card--paragraph{ */
/* } */
.card--horizontal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /**/
    justify-self: center;
    align-self: center;
}
.card--vertical{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /**/
    justify-self: center;
    align-self: center;
}
.card--imgsquare{
    width:200px;
    height:200px;
    margin:1em;
    /**/
    box-shadow: 2px 2px 2px 2px 10px black;
    /**/
    justify-self: center;
    align-self: center;
}
.card--imgrectangular{
    width:300px;
    height:200px;
    margin:1em;
    /**/
    box-shadow: 2px 2px 2px 2px 10px black;
    /**/
    justify-self: center;
    align-self: center;
}
/* */
.block--datas-horizontal{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    /**/
    border:1px solid black;
    padding:10px;
}
.block--datas-vertical{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    /**/
    border:1px solid black;
    padding:10px;
}



/* */
#uptotop{
    display: flex;
    flex-direction: row;
    width: 2em;
    height: 2em;
    justify-content: center;
    align-items: center;
    /**/
    position: fixed;
    bottom:2em;
    right:2em;
    /**/
    color:blue;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.55);
    box-shadow: 2px 2px 0.25em red;
    border-radius: 50%;
}




/**
 *   DriversPresentation TWIG file stylesheet
 */
#driverspresentation--banner{
    position: relative;
    /**/
    display: flex;
    flex-direction: column;
    /**/
    /* background-image:url('../images/banner/pilotes-motogp-2020.png') ; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /**/
    min-height: 400px;
    /**/
    justify-content: center;
    align-items: center;
}
#driverspresentation--banner>h1{
    color:white;
    font-weight: bolder;
    text-shadow: 5px 5px 0.25em red;
    justify-self: center;
}




/**
 *   ALL Modal...
 */
.modal--big{
    background:whitesmoke;
    width:95vw;
    height:80vh;
    border-radius:10px;
    /**/
    position: fixed;
    left:2.5vw;
    bottom:11vh;
    /**/
    filter: drop-shadow(0px 2px 5px black);
    box-shadow: inset 
    0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 1px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    /**/
    display: flex;
    flex-direction: column;
    align-items: center;
    /**/
    overflow: auto;
    /* padding: 5%; */
    /* padding-top: 10%; */
    /* padding-top: 5%; */
}
/* .modal--content{
    border:2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding:5%;
} */


/**
 *   Profile TWIG file stylesheet
 */
#profile--banner{
    position: relative;
    /**/
    display: flex;
    flex-direction: column;
    /**/
    /* background-image:url('../images/banner/profile.png') ; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /**/
    min-height: 400px;
    /**/
    justify-content: center;
    align-items: center;
}
#profile--banner>h1{
    color:blue;
    font-weight: bolder;
    text-shadow: 5px 5px 0.25em red;
    justify-self: center;
}
/**/
.card--profile{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.img--profile{
    border:2px solid black;
    height:100px;
}
.btns--row{
    /* border:2px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}



/* *** */
@media screen and (min-width: 1200px)
{
    .block--datas-horizontal,.block--datas-vertical{
        height: 92%;
    }
}
@media screen and (max-width: 990px)
{
    .card--3D-horizontal{
        justify-content: center;
    }
}
@media screen and (max-width: 700px)
{
    .btn--ordering{
        left: 38%;
    }
}
@media screen and (max-width: 650px)
{
    .btn--ordering{
        left: 30%;
    }
}
@media screen and (max-width: 600px)
{
    .btn--ordering{
        left: 25%;
    }
}