<!-- DEBUT Driver Controller TEMPLATES banner -->
<section class="claim--banner" id="banner" style="background-image:url({{ asset(sImgPath ~'banner/Request.jpg') }});">
    <H1>PROGRAMMER UNE COURSE</H1>
    
</section>
<!-- FIN Profile banner -->